# Prismic CMS
NEXT_PUBLIC_PRISMIC_ENVIRONMENT=tecnosystemej

# EmailJS
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_k7o1761
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_0me0my8
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=a0cdWPbQf1dnIM28Y
